<div class="mini-cart-popup">
  <h1>Shopping Cart</h1>
  <div class="product">
    <div class="image-container">
      <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/61/d6/0fa2a5cc43b4aa283a2c5175c4b9/mango._TTW_._CR0,0,720,720_._SR580,580_._QL100_.jpg">
    </div>
    <div>
      <p>Asgard sofa</p>
      <p>1 x Rs. 250,000.00</p>
    </div>
    <div class="remove-icon">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>
  <div class="cart-footer">
    <p>Total products</p>
    <button routerLink="/cart">Go to cart</button>
  </div>
</div>
