<div class="user-list">
  <h1>User List</h1>
  <div class="user-grid-container">
    <div class="user-grid">
      <h2>Users</h2>
      <div class="user-grid-header">
        <div></div>
        <h3>Name</h3>
        <p>User ID</p>
        <p>Email</p>
        <p>Phone</p>
        <p>Active</p>
      </div>
      <div class="user-grid-users" *ngFor="let user of userList" [routerLink]="['/admin/user-detail', user.userId]">
        <input type="checkbox"/>
        <div class="user-image-container">
          <img src="">
          <h3>{{user.username}}</h3>
        </div>
        <p>{{user.userId}}</p>
        <p>{{user.email}}</p>
        <p>{{user.phoneNumber}}</p>
        <i class="toggle-switch" [ngClass]="user.active ? 'fa-solid fa-toggle-on on' : 'fa-solid fa-toggle-off off'" (click)="toggleActive(user)"></i>
      </div>
    </div>
    <div>
      <mat-paginator [length]="totalElements"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[10, 20, 50]"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
